<!DOCTYPE html>
<html>
  <head>
    <title>Bien Reviews -- the best restaurants in the world</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <nav class="left-nav">
      <%= link_to "Add a review", new_review_path %>
    </nav>
    <div>
      <%= link_to root_path do %>
        <%= image_tag "bien-logo-white.svg" %>
      <% end %>
    </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      Copyright 2021 Bien Reviews
    </footer>
  </body>
</html>
